h1 {
    text-align: center;
    margin-bottom: 50px;
}

img{
    float: left;
    margin-right: 10px;
}

div {
    margin-bottom: 20px;
    background-color: transparent;
}

h3 {
    display: inline-block;
    margin-top: 0px;
}

p {
    margin-top: 0px;
}

#e01{
    display: inline-block;
    width: 100%;
}
#e02{
    display: inline-block;
    width: 100%;
}
#e03{
    display: inline-block;
    width: 100%;
}
#e04{
    display: inline-block;
    width: 100%;
}